.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 100px;
  height: 50px;
  background: none;
  border: 1px solid;
  border-radius: 25px;
  outline: none;
  margin: 40px;
}
